// Navigation styles for the NeoBrutalism theme
#pma_navigation {
  width: $navi-width;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: var(--sidebar);
  color: var(--sidebar-foreground);
  z-index: 800;
  border-right: 2px solid var(--sidebar-border);

  ul {
    margin: 0;
  }

  form {
    margin: 0;
    padding: 0;
    display: inline;
  }

  select {

    &#select_server,
    &#lightm_db {
      width: 100%;
    }
  }

  div {
    &.pageselector {
      text-align: center;
      margin: 0;
      margin-left: 0.75em;
      border-left: 2px solid var(--sidebar-border);
    }
  }

  #pmalogo,
  #serverChoice,
  #navipanellinks,
  #recentTableList,
  #favoriteTableList,
  #databaseList,
  div.pageselector.dbselector {
    text-align: center;
    padding: 5px 10px 0;
    border: 0;
  }

  #navipanellinks .icon {
    margin: 0;
  }

  #recentTable,
  #favoriteTable {
    width: 200px;
  }

  #favoriteTableList select,
  #serverChoice select {
    width: 80%;
  }
}

#pma_navigation_header {
  overflow: hidden;
}

#pma_navigation_content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  >img.throbber {
    display: none;
    margin: 0.3em auto 0;
  }
}

#pma_navigation_select_database {
  text-align: left;
  padding: 0 0 0;
  border: 0;
  margin: 0;
}

#pma_navigation_db_select {
  margin-top: 0.5em;
  margin-left: 0.75em;

  select {
    background: var(--background);
    border-radius: var(--radius);
    border: 2px solid var(--border);
    color: var(--foreground);
    padding: 4px 6px;
    margin: 0 0 0;
    width: 92%;
    font-size: 1.11em;
    font-family: var(--font-sans);
  }
}

#pma_navigation_tree_content {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  height: 100%;

  a.hover_show_full {
    position: relative;
    z-index: 100;
    vertical-align: sub;
  }
}

#pma_navigation_tree {
  margin: 0;
  margin-left: 5px;
  overflow: hidden;
  color: var(--sidebar-foreground);
  height: 74%;
  position: relative;

  a {
    color: var(--sidebar-foreground);
    padding-left: 0;

    &:hover {
      text-decoration: underline;
      color: var(--sidebar-primary);
    }
  }

  ul {
    clear: both;
    padding: 0;
    list-style-type: none;
    margin: 0;

    ul {
      position: relative;
    }
  }

  li {
    margin-bottom: 0;

    &.activePointer,
    &.selected {
      color: var(--sidebar-primary-foreground);
      background-color: var(--sidebar-primary);
    }

    .dbItemControls {
      padding-right: 4px;
      float: right;
    }

    .navItemControls {
      display: none;
      padding-right: 4px;
      float: right;
    }

    &.activePointer .navItemControls {
      display: block;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  li {
    white-space: nowrap;
    clear: both;
    min-height: 16px;

    &.fast_filter {
      white-space: nowrap;
      clear: both;
      min-height: 16px;
    }
  }

  img {
    margin: 0;
  }

  i {
    display: block;
  }

  div {
    &.block {
      position: relative;
      width: 1.5em;
      height: 1.5em;
      min-width: 16px;
      min-height: 16px;
      float: left;

      &.double {
        width: 2.5em;
      }

      i,
      b {
        width: 1.5em;
        height: 1.7em;
        min-width: 16px;
        min-height: 8px;
        position: absolute;
        bottom: 0.7em;
        left: 0.75em;
        z-index: 0;
      }

      // Top and right segments for the tree element connections
      i {
        display: block;
        border-left: 2px solid var(--sidebar-border);
        border-bottom: 2px solid var(--sidebar-border);
        position: relative;
        z-index: 0;

        // Removes top segment
        &.first {
          border-left: 0;
        }
      }

      // Bottom segment for the tree element connections
      b {
        display: block;
        height: 0.75em;
        bottom: -0.5rem;
        left: 0.75em;
        border-left: 2px solid var(--sidebar-border);
      }

      a,
      u {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10;
      }

      a+a {
        left: 100%;
      }

      &.double {

        a,
        u {
          left: 33%;
        }

        a+a {
          left: 85%;
        }
      }

      img {
        position: relative;
        top: -0.6em;
        left: 0;
        margin-left: -7px;
      }
    }

    &.throbber img {
      top: 2px;
      left: 2px;
    }
  }

  li {
    &.last>ul {
      background: none;
    }

    > {

      a,
      i {
        line-height: 1.5em;
        height: 1.5em;
        padding-left: 0.3em;
      }
    }
  }

  .list_container {
    border-left: 2px solid var(--sidebar-border);
    margin-left: 0.75em;
    padding-left: 0.75em;

    li.last.database {
      margin-bottom: 0 !important;
    }
  }

  .last>.list_container {
    border-left: 0 solid var(--sidebar-border);
  }
}

// Fast filter
li.fast_filter {
  padding-left: 0.75em;
  margin-left: 0.75em;
  padding-right: 35px;
  border-left: 2px solid var(--sidebar-border);
  list-style: none;

  input {
    font-size: 0.7em;
    border: 2px solid var(--border);
    border-radius: var(--radius);
  }

  .searchClauseClear {
    border: 0;
    font-weight: bold;
    color: var(--primary);
    font-size: 0.7em;
  }

  .searchClauseClear:hover {
    background-color: transparent;
    border-color: transparent;
  }

  &.db_fast_filter {
    border: 0;
    margin-left: 0;
  }
}

#navigation_controls_outer {
  min-height: 21px !important;

  &.activePointer {
    background-color: transparent !important;
  }
}

#navigation_controls {
  float: right;
  padding-right: 23px;
}

// Resize handler
#pma_navigation_resizer {
  width: 3px;
  height: 100%;
  background-color: var(--border);
  cursor: col-resize;
  position: fixed;
  top: 0;
  left: 240px;
  z-index: 801;
}

#pma_navigation_collapser {
  width: 20px;
  height: 22px;
  line-height: 22px;
  background: var(--muted);
  color: var(--foreground);
  font-weight: bold;
  position: fixed;
  top: 0;
  left: $navi-width;
  text-align: center;
  cursor: pointer;
  z-index: 800;
  border: 2px solid var(--border);
}

// Quick warp links
.pma_quick_warp {
  margin-top: 5px;
  margin-left: 2px;
  position: relative;

  .drop_list {
    float: left;
    margin-left: 3px;
    padding: 2px 0;

    &:hover {
      .drop_button {
        background: var(--background);
      }

      ul {
        display: block;
      }
    }

    ul {
      position: absolute;
      margin: 0;
      padding: 0;
      overflow: hidden;
      overflow-y: auto;
      list-style: none;
      background: var(--background);
      border: 2px solid var(--border);
      border-radius: var(--radius);
      box-shadow: var(--shadow-md);
      top: 100%;
      left: 3px;
      right: 0;
      display: none;
      z-index: 802;
    }

    li {
      white-space: nowrap;
      padding: 0;
      border-radius: 0;

      img {
        vertical-align: sub;
      }

      &:hover {
        background: var(--muted);
      }
    }

    a {
      display: block;
      padding: 0.2em 0.3em;

      &.favorite_table_anchor {
        clear: left;
        float: left;
        padding: 0.1em 0.3em 0;
      }
    }
  }

  .drop_button {
    padding: 0.3em;
    border: 2px solid var(--border);
    border-radius: var(--radius);
    background: var(--muted);
    cursor: pointer;
  }
}