@import "../../bootstrap/scss/breadcrumb";

.breadcrumb-navbar {
  text-shadow: none;

  .breadcrumb-item {
    +.breadcrumb-comment {
      padding-left: 0.5rem;
    }

    a {
      color: var(--primary-foreground);
    }
  }

  .breadcrumb-comment {
    color: var(--muted-foreground);
    font-weight: bold;
    font-style: italic;
    text-shadow: none;
  }
}