$textarea-cols: 40;
$textarea-rows: 15;

.CodeMirror {
  height: 20rem;
}

// Code mirror default style (do not affect the console style)
.CodeMirror.cm-s-default {

  // @see: issue #17705
  div.CodeMirror-scroll {
    margin-right: 0;
    padding-bottom: 0;
  }
}

#inline_editor_outer .CodeMirror {
  height: ceil($textarea-rows * 0.4em);
}

.insertRowTable .CodeMirror {
  min-height: ceil($textarea-rows * 0.6em);
  min-width: ceil($textarea-cols * 0.6em);
  border: 1px solid var(--border);
}

#pma_console .CodeMirror-gutters {
  background-color: initial;
  border: none;
}

span {

  &.cm-keyword,
  &.cm-statement-verb {
    color: var(--primary);
  }

  &.cm-variable {
    color: var(--foreground);
  }

  &.cm-comment {
    color: var(--muted-foreground);
  }

  &.cm-mysql-string {
    color: var(--accent-foreground);
  }

  &.cm-operator {
    color: var(--destructive);
  }

  &.cm-mysql-word {
    color: var(--foreground);
  }

  &.cm-builtin {
    color: #f00;
  }

  &.cm-variable-2 {
    color: #f90;
  }

  &.cm-variable-3 {
    color: #00f;
  }

  &.cm-separator {
    color: fuchsia;
  }

  &.cm-number {
    color: teal;
  }
}

.autocomplete-column-name {
  display: inline-block;
}

.autocomplete-column-hint {
  display: inline-block;
  float: right;
  color: var(--muted-foreground);
  margin-left: 1em;
}

.CodeMirror-hints {
  z-index: 1999;
}

.CodeMirror-lint-tooltip {
  z-index: 2000;
  font-family: inherit;

  code {
    font-family: monospace;
    font-weight: bold;
  }
}