.navbar.bg-light {
  background: linear-gradient(#fff, #dcdcdc);
}

.navbar-nav {
  font-weight: bold;
}

.navbar-nav .icon {
  margin-right: 0.5em;
  vertical-align: -3px;
}

.navbar-nav .nav-item {
  background: var(--muted);
  border: 1px solid var(--border);
  color: var(--foreground);

  &:first-child {
    border-left: 0;
  }

  &:hover {
    background: linear-gradient(#fff, #e5e5e5);
  }

  &.active {
    background: #fff;
    border-bottom: 0;
  }
}