.nav-pills {
  .nav-link {
    margin-left: 0;
    color: var(--foreground);
    border: 1px solid var(--border);
    border-bottom: 0;
    padding: 4px 10px;
    font-weight: bold;

    @include border-radius(20px);

    &.active {
      color: var(--primary);
      border: 1px solid var(--border);
      border-bottom: 0;
      background: var(--card);
    }

    &:hover {
      background: var(--accent);
      color: var(--accent-foreground);
      @include border-radius(0.3em);
    }

    img {
      margin-right: 0.5em;
      vertical-align: -3px;
    }
  }

  .nav-link.active,
  .show>.nav-link {
    background-color: #fff;
    color: #235a81;

    @include border-radius(0.3em);
  }
}

.nav-tabs {
  font-weight: bold;

  .nav-link {
    background-color: #f2f2f2;
    color: #555;
    border-color: $bg-two $bg-two #aaa;
    margin-right: 0.4em;
    padding: 7px 10px;

    &:hover,
    &:focus {
      background-color: #e5e5e5;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {

    &:hover,
    &:focus {
      background-color: $nav-tabs-link-active-bg;
    }
  }
}