// Body

body {
  text-align: left;
}

// Typography

h1 {
  font-weight: bold;
}

h2 {
  font-weight: normal;
  text-shadow: none;
  padding: 10px 0 10px 3px;
  color: var(--muted-foreground);
}

h3 {
  font-weight: bold;
}

// Forms

input,
select {
  font-size: 1em;
}

textarea {
  font-family: $font-family-monospace;
  font-size: 1.2em;
}